/* Common styles */
body, h1, h2, form, label, input {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Styles for settings.php */
.settings-body {
    background-color: #f4f4f4;
    padding: 20px;
    max-width: 40%;
}

.settings-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}

.settings-label, .settings-input {
    display: block;
    margin-bottom: 15px;
}

.settings-label {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.settings-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.settings-submit {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.settings-submit:hover {
    background-color: #0056b3;
}

form.settings-form fieldset {
    margin-bottom: 25px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

@media screen and (max-width: 767px) {
    .settings-body {
        max-width: 767px;
    }

    .button-group {
        flex-direction: column;
    }

    .settings-submit,
    .settings-export {
        width: 100%;
        margin-bottom: 10px;
        font-weight: 600;
    }

    .settings-import {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
        font-weight: 600;
    }
}

.settings-import,
.settings-export {
    background-color: #6c757d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.settings-import:hover,
.settings-export:hover {
    background-color: #5a6268;
}

.settings-import {
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    white-space: pre;
}

/* Fix the font in Firefox */
@-moz-document url-prefix() {
    .settings-import {
        font-family: "MS Shell Dlg 2", sans-serif;
    }
}

/* Styles for index.php */
.video-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
    height: 100vh;
    width: 100vw;
}

@media screen and (min-width: 768px) {
    .video-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

.video {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.video iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: 0;
}

.logo {
    max-width: 30%;
}